@model IEnumerable<BLL.DTO.ProductDTO>
@{
    ViewData["Title"] = "Product";
    Layout = "~/Areas/Admin/Views/Shared/_PanelLayout.cshtml";
}

<div class="container">
    <div class="row">

    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            updateActiveLink('product-link');
        });
    </script>
}