
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card shadow-lg bg-secondary">
                @Html.BeginForm("Login", "Account", )
            </div>
        </div>
    </div>
</div>